{{define "title"}}Machines{{end}}
{{define "main"}}
  <h2>All the machines</h2>
  {{with .Machines}}
  <ul>
  {{range .}}
  {{template "machine" .}}
  {{end}}
  </ul>
  {{end}}
<p>All the machines</p>
{{end}}
