{{define "title"}}Create a New Book{{end}}
{{define "main"}}
<form action='/inventory/book/create' method='POST' enctype="multipart/form-data">

  <div>
    <label>Title:</label>
    {{with .Form.FieldErrors.title}}
      <label class="error">{{.}}</label>
    {{end}}
    <input type='text' name='title' value="{{.Form.Title}}">
  </div>

  <div>
    <label>Author:</label>
    {{with .Form.FieldErrors.author}}
      <label class="error">{{.}}</label>
    {{end}}
    <input type="text" name="author" value="{{.Form.Author}}">
  </div>

  <div>
    <label>Price:</label>
    {{with .Form.FieldErrors.price}}
      <label class="error">{{.}}</label>
    {{end}}
    <input type="text" name="price" value="{{.Form.Price}}">
  </div>

  <div>
    <label>Summary:</label>
    {{with .Form.FieldErrors.summary}}
      <label class="error">{{.}}</label>
    {{end}}
    <textarea type="text" name="Summary" value="{{.Form.Summary}}">
    </textarea>
  </div>

  <div>
    <label>Cover Image:</label>
    {{with .Form.FieldErrors.image}}
      <label class="error">{{.}}</label>
    {{end}}
    <input type="file" name="image" id="image" />
  </div>

  <div>
    <input type='submit' value='Publish book'>
  </div>

</form>
{{end}}
