{{define "title"}}Create a New Machine{{end}}
{{define "main"}}
<form action='/api/machine/create' method='POST'>

  <div>
    <label>Location:</label>
    {{with .Form.FieldErrors.location}}
      <label class="error">{{.}}</label>
    {{end}}
    <input type='text' name='location' value="{{.Form.Location}}">
  </div>

  <div>
    <label>Rows:</label>
    {{with .Form.FieldErrors.rows}}
      <label class="error">{{.}}</label>
      <input type='number' name='rows' value="{{.Form.Rows}}">
    {{end}}
  </div>

  <div>
    <label>Columns:</label>
    {{with .Form.FieldErrors.cols}}
      <label class="error">{{.}}</label>
    {{end}}
    <input type='number' name='cols' value="{{.Form.Cols}}">
  </div>

  <div>
    <input type='submit' value='Create Machine'>
  </div>

</form>
{{end}}
