{{define "base"}}
<!doctype html>

<head>
  <meta charset="utf-8">
  <title>{{template "title" .}} - Hello</title>
  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/styles.css">
  <link rel="stylesheet" href="/static/css/vars.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Source+Sans+Pro&display=swap">

</head>

<body class="light">
  <header>
    {{template "nav" .}}
  </header>
  <main>
    {{template "main" .}}
  </main>
  <footer>
    <a href="https://chris-hughes.dev"> Chris Hughes &#169;</a> {{.CurrentYear}}
  </footer>
</body>
{{end}}
